@font-face {
    font-family: 'Dosis';
    src: url("../../res/Dosis/Dosis-VariableFont_wght.ttf");
}

body {
    background: linear-gradient(to bottom, rgba(9,31,112,1) 0%, rgba(54,73,78,1) 25%, rgba(54,73,78,1) 85%, rgba(9,31,112,1) 100%);
    font-family: 'Dosis';
    margin : 0px;
}

* {
    margin: 0px;
}

.space {
    margin: 0%;
    height: 20px;
    background-color: #091F70;
}