@font-face {
    font-family: 'Dosis';
    src: url("../../res/Dosis/Dosis-VariableFont_wght.ttf");
}

html{
    scroll-behavior: smooth;
}

body {
    background-image: url("../../res/Background/Paysage_fond.jpg");
    font-family: 'Dosis';
    margin : 0px;
}

p {
    margin: 0px;
}

.space {
    height: 50px;
}