body > nav {
    position : sticky;
    top: 1%;
    width : 30%;
    margin : 0% 1% 1% 1%;
    display: flex;
    align-items: center;
    background-color: #1C2942;
    color: #5FC2BA;
    border-radius: 25px;

    border : solid;
}

body > nav > a > img {
    width: 32px;
    height: 32px;
    border-radius: 25px;
    margin-top: 5px;
}


body > nav > a{
    text-decoration: none;
    margin : 5px 10px 5px 10px;  
}

body > nav > a:visited{
    color: #5FC2BA;
}

body > nav > a:link{
    color: #5FC2BA;
}